# Ignorar archivos y carpetas comunes que no necesitas en la imagen
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.egg-info/
*.eggs/
dist/
build/
*.log

# Ignorar entorno virtual (si lo tienes en el proyecto)
venv/
env/
.venv/

# Ignorar archivos de configuración del sistema y editor
.idea/
.vscode/
*.iml

# Ignorar archivos de Git
.git/
.gitignore

# Ignorar archivos de pruebas (opcional)
tests/

app/yolov5

